@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap");

[hidden] {
  display: none !important;
}

*,
*::before,
*::after {
  font-family: Nunito, sans-serif;
  box-sizing: border-box;

  /* Color Checker */
  /* color: rgb(180, 205, 228); */
}

:root {
  --primary-dark: 68, 109, 153;
  --primary: 102, 153, 204;
  --primary-light: 180, 205, 228;
  --secondary-light: 232, 232, 232;
  --secondary: 190, 190, 190;
  --secondary-dark: 150, 150, 150;
}

.hidden {
  display: none !important;
}

.hidden-opaque {
  opacity: 0;
}

.transform-hidden {
  scale: 0 !important;
}

html,
body,
#root,
.App {
  margin: 0;
  min-height: 100vh;
}

.auth-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
}

.auth-page > .background {
  background-color: rgb(var(--secondary-light));
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

.auth-form {
  aspect-ratio: 4 / 5;
  background-color: rgb(var(--primary));
  border-radius: 0.5em;
  padding: 0 1em;
  width: 21.5em;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.25);
}

.auth-form__heading {
  color: white;
  text-align: center;
}

.auth-form__main {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

.auth-form__submit {
  background-color: white;
  border: none;
  border-radius: 0.25em;
  color: rgb(var(--primary));
  cursor: pointer;
  font-size: 1.2em;
  padding: 0.5em;
  transition-duration: 150ms;
}

.auth-form__submit:hover {
  background-color: rgb(var(--secondary-light));
}

.auth-form__submit:focus {
  box-shadow: 0 0 5px 0 rgb(var(--secondary-light));
  outline: none;
}

.auth-form__main input {
  border: 1px solid white;
  border-radius: 0.25em;
  padding: 0.9em 0.5em;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transform-origin: top;
  transform-origin: top;
  transition: -webkit-transform 125ms linear;
  transition: transform 125ms linear;
  transition: transform 125ms linear, -webkit-transform 125ms linear;
}

.auth-form__main input.hidden-input {
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
}

.auth-form__main input.translate-input {
  -webkit-transform: translateY(calc(-100% - 0.75em));
  transform: translateY(calc(-100% - 0.75em));
  transition: -webkit-transform 125ms linear;
  transition: transform 125ms linear;
  transition: transform 125ms linear, -webkit-transform 125ms linear;
}

.auth-form__main input:focus {
  box-shadow: 0 0 5px 0 white;
  outline: none;
}

.auth-type-toggle {
  border: 1px solid white;
  border-radius: 100vh;
  cursor: pointer;
  display: flex;
  margin-bottom: 1em;
  padding: 0.5em 0;
  position: relative;
  z-index: 1;
}

.auth-type-toggle:before {
  background: white;
  border-radius: 100vh;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  width: 50%;
  z-index: -1;
}

.auth-type-toggle.register:before {
  -webkit-transform: translate(100%);
  transform: translate(100%);
}

.auth-type-toggle > * {
  color: white;
  text-align: center;
  transition: color 0.2s ease-in;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
}

.auth-type-toggle > .active {
  color: rgb(var(--primary));
}

.auth-error {
  align-items: center;
  aspect-ratio: 6/1;
  background: rgb(var(--primary));
  border-radius: 0.5em;
  color: red;
  display: flex;
  justify-content: center;
  padding: 0.5em;
  text-align: center;
  transition: -webkit-transform 30ms linear;
  transition: transform 30ms linear;
  transition: transform 30ms linear, -webkit-transform 30ms linear;
  width: 21.5em;
}

.auth-error.hidden-message {
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
}

.full-page {
  width: 100%;
  min-height: 100vh;
}

.diary-webpage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: rgb(var(--secondary-light));
}

.diary > .username {
  text-align: center;
  user-select: none;
  font-size: min(2.6em, 5.5vh);
  color: rgba(255, 255, 255, 0.75);
}

.diary-container {
  position: relative;
}

.diary {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  aspect-ratio: 5.75 / 8;
  height: min(65vh, 500px);
  background-color: var(--diary-clr);
  box-shadow: 5px 5px 5px 5px rgba(0 0 0 / 0.25);
  position: relative;
  border-radius: 0.65em;
  transition: background-color 200ms ease;
}

.diary::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 9%;
  background-color: var(--diary-clr);
  border-right: 1vh solid rgba(255, 255, 255, 0.2);
  border-top-left-radius: 0.2em;
  border-bottom-left-radius: 0.2em;
  transition: background-color 200ms ease;
}

.diary-page {
  --height: min(75vh, 700px);
  height: var(--height);
  aspect-ratio: 3 / 4;
  position: relative;
}

.diary-options {
  right: calc(100% + 1em);
  top: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.diary-option {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  border-radius: 50%;
  position: relative;
}

.diary-option path {
  fill: rgb(var(--primary));
}

.diary-option::before {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  width: 3px;
  height: 100%;
  background-color: rgb(var(--primary));
}

.diary-option > svg {
  width: 1.5em;
  height: 1.5em;
}

#color-picker-canvas {
  position: absolute;
  /* 3px - width of icon left border */
  /* 2px - custom offset from icon border */
  right: calc(100% + 2 * (3px + 2px));
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.25);
  border-radius: 0.5em;
  transform-origin: right;
  scale: 1;
  transition: scale 200ms ease;
}

.diary-option:not(:focus-within)
  :is(#color-picker-canvas, .diary-option__save-btn) {
  scale: 0;
}

.diary-option__save-btn {
  position: absolute;
  /* 3px - width of icon left border 
     2px - custom offset from icon border 
     180px - width of canvas / 2 */
  right: calc(100% + 180px + 2 * (3px + 2px));
  top: calc(50% + 116px);
  color: white;
  aspect-ratio: 1;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--diary-clr);
  border-radius: 50%;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.25);
  scale: 1;
  transform-origin: top;
  translate: 50% 50%;
  transition: scale 200ms ease, background-color 200ms ease;
}

.diary-page__canvas {
  background-color: color-mix(in srgb, var(--diary-clr), white 90%);
  margin: 0;
}

.diary-textarea {
  position: absolute;
  resize: none;
  z-index: 10;
  top: 32px;
  left: 8px;
  width: calc(100% - 15px);
  height: calc(100% - 26px);
  border: none;
  background: none;
  line-height: 30px;
}

.diary-textarea--new {
  text-indent: calc(100% / 6 + 5px);
  top: 92px; /* 3 * 30px */
  height: calc(100% - 104px);
}

.diary-textarea:focus {
  outline: none;
}

.diary-page__date {
  position: absolute;
  top: calc(30px + 7px) /* to bring dates slightly closer to underline */;
  left: 10px;
  display: flex;
  align-items: flex-end;
  gap: calc(var(--height) * (1 / 15 - 1 / 20));
}

.diary-page__date__slot {
  line-height: 30px;
  width: calc(var(--height) / 20);
  height: 30px;
  resize: none;
  border: none;
  background: none;
  text-align: center;
}

.diary-page__date__slot:focus {
  outline: none;
  word-break: keep-all;
}

.options-page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vh;
  background: rgb(var(--secondary-light));
}

.options-page__options {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  z-index: 10;
}

.new-entry-page,
.view-entry-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.personal-page {
  background: rgb(var(--secondary-light));
}

.diary-pages {
  display: flex;
  justify-content: center;
  gap: 1vh;
  overflow: hidden;
  position: relative;
  background-color: var(--diary-clr);
  padding: 0.5em;
  border-radius: 0.5em;
}

.diary-page-btn {
  cursor: pointer;
  position: absolute;
  z-index: 20;
  width: 0;
  height: 0;
  border: 20px solid var(--diary-clr);
  border-top: 20px solid transparent;
  bottom: 0.5em;
}

.diary-page-btn.previous {
  left: 0.5em;
  border-right: 20px solid transparent;
}

.diary-page-btn.next {
  right: 0.5em;
  border-left: 20px solid transparent;
}

.diary-page-btn.disabled {
  opacity: 0;
  cursor: initial;
}

.new-entry-page__title-container {
  text-align: center;
}

.new-entry-page__options {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.btn {
  --btn-clr: var(--primary);
  position: relative;
  width: max-content;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 0.25em;
  padding: 1em 1.25em;
  font-size: 1em;
  background-color: rgb(var(--btn-clr));
  box-shadow: 0 0 5px 0 rgb(var(--btn-clr));
  z-index: 5;
  transition: transform 200ms, box-shadow 200ms;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 7px 2px rgba(var(--btn-clr), 0.75);
}

.btn.btn--large {
  font-size: 1.5em;
}

.btn.btn--dark {
  --btn-clr: var(--primary-dark);
}

.options-page__btn {
  font-size: 1.2em;
  padding: 1.25em 1.75em;
}

.entries-heading {
  font-size: 3em;
  font-weight: bold;
  color: rgb(var(--primary));
  padding: 1em 0;
}

.entries-container {
  width: 100%;
  min-height: 100vh;
  padding-bottom: 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}

.entry-container {
  counter-reset: entry-name;
  width: 32%;
  background-color: rgb(var(--primary));
  color: white;
  font-size: 1.5em;
  padding: 0.7em;
  border-radius: 0.5em;
  box-shadow: 2px 2px 5px 1px rgba(0 0 0 / 0.25);
}

.entry-names-container {
  margin: 0.75em 0;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.entry-name {
  cursor: pointer;
  width: 90%;
  margin: 0 auto;
  padding: 0.5em;
  border-radius: 0.5em;
  background-color: white;
  color: rgb(var(--primary));
  transition: transform 150ms, box-shadow 150ms;
}

.entry-name:hover {
  transform: scale(1.02);
  box-shadow: 0 0 8px 0 rgba(0 0 0 / 0.2);
}

.entry-name::before {
  content: counter(entry-name) ". ";
  counter-increment: entry-name;
}

.entry-date {
  text-shadow: 0 0 1px white;
  text-align: center;
  font-size: 1.1em;
}

.entry {
  cursor: pointer;
  color: rgb(var(--primary));
  font-size: 1.75em;
  text-shadow: 0 0 2px white;
}

input:disabled,
textarea:disabled {
  color: black;
}

.home-btn {
  text-decoration: none;
  position: fixed;
  top: 10px;
  left: 10px;
  transition: transform 100ms ease-out, box-shadow 100ms ease-out;
}

.home-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 6px 0 rgba(0 0 0 / 0.2);
}

.home-btn__icon {
  background-color: rgb(var(--primary));
  width: 3.75em;
  color: white;
  display: grid;
  place-items: center;
  aspect-ratio: 2 / 3;
  border-radius: 0 0.25em 0.25em 0;
  padding-left: 10%;
  position: relative;
}

.home-btn__icon::before {
  content: "";
  height: 100%;
  width: 10%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0 0 0 / 0.25);
}

.title-input,
.entry-title {
  width: max-content;
  font-size: 2rem;
  background: none;
  border: none;
  border-bottom: 1px solid black;
  text-align: center;
  color: #333;
}

.title-input:focus {
  outline: none;
}

.google-login-btn {
  padding: 0.6em;
  display: flex;
  align-items: center;
  gap: 1em;
  background: rgb(var(--primary));
  color: white;
  border-radius: 0.5em;
  border: none;
  cursor: pointer;
  width: 21.5em;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.25);
}

.google-login-btn > img {
  box-sizing: initial;
  padding: 0.25em;
  background-color: white;
  border-radius: 50%;
}

.diary-page-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.diary-page-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  transform: scale(0);
  border-radius: 50%;
  transform-origin: center center;
  transition: transform 100ms ease-out;
}

.diary-page-btn:hover::after {
  transform: scale(1);
}

.delete-entry-btn {
  position: fixed;
  bottom: 1em;
  right: 1em;
  background-color: hsl(0, 100%, 50%);
  border-radius: 50%;
  padding: 0.75em;
  display: flex;
  transform: scale(0.75);
  cursor: pointer;
  aspect-ratio: 1;
  transition: background-color 100ms ease-out;
  z-index: 10;
}

.delete-entry-btn:hover {
  background-color: hsl(0, 100%, 60%);
}

.delete-alert {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: red;
  border-radius: 0.5em;
  padding: 1em;
  z-index: 10;
  box-shadow: 0 0 5px 0 rgba(0 0 0 / 0.5);
}

.delete-alert__btn {
  cursor: pointer;
  border: 2px solid hsl(0, 100%, 50%);
  width: max-content;
  padding: 0.5em 0.75em;
  border-radius: 0.5em;
  transition: background-color 150ms linear, color 150ms linear;
}

.delete-alert__btn:hover {
  background-color: red;
  color: white;
}

.diary-main {
  position: relative;
}

.entry-option {
  cursor: pointer;
  display: grid;
  place-items: center;
  color: rgba(255, 255, 255, 0.75);
  position: absolute;
  font-size: min(1.2em, 2.25vh);
  width: 100%;
  height: 3.5em;
  border-radius: 0.5em;
  left: 0;
  background-color: var(--diary-clr);
  box-shadow: 2px 2px 5px 1px rgba(0 0 0 / 0.25);
  user-select: none;
  transition: scale 150ms;
}

.new.entry-option {
  bottom: 105%;
}

.view.entry-option {
  top: 105%;
}

.not-found-page {
  display: grid;
  place-items: center;
}
