@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap");

[hidden] {
  display: none !important;
}

*,
*::before,
*::after {
  font-family: Nunito, sans-serif;
  box-sizing: border-box;
}

:root {
  --primary-dark: 1, 182, 54;
  --primary: 59, 209, 111;
  --primary-light: 116, 227, 154;
  --peach: 253, 211, 175;
  --secondary-light: 227, 227, 227;
  --secondary-dark: 152, 152, 152;
}

.hidden {
  display: none !important;
}

.hidden-opaque {
  opacity: 0;
}

.transform-hidden {
  scale: 0 !important;
}

html,
body,
#root,
.App {
  margin: 0;
  min-height: 100vh;
}

.auth-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
}

.auth-page > .background {
  background: #3bd16f;
  background: rgb(var(--primary));
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

.auth-form {
  aspect-ratio: 4 / 5;
  background: #fff;
  border-radius: 0.5em;
  padding: 0 1em;
  width: 21.5em;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.25);
}

.auth-form__heading {
  color: #3bd16f;
  color: rgb(var(--primary));
  text-align: center;
}
.auth-form__main {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

.auth-form__submit {
  background: #3bd16f;
  background: rgb(var(--primary));
  border: none;
  border-radius: 0.25em;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.75em;
}

.auth-form__submit:focus {
  box-shadow: 0 0 5px 0 #74e39a;
  box-shadow: 0 0 5px 0 rgb(var(--primary-light));
  outline: none;
}

.auth-form__main input {
  border: 1px solid #3bd16f;
  border: 1px solid rgb(var(--primary));
  border-radius: 0.25em;
  padding: 0.9em 0.5em;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transform-origin: top;
  transform-origin: top;
  transition: -webkit-transform 125ms linear;
  transition: transform 125ms linear;
  transition: transform 125ms linear, -webkit-transform 125ms linear;
}

.auth-form__main input.hidden-input {
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
}

.auth-form__main input.translate-input {
  -webkit-transform: translateY(calc(-100% - 0.75em));
  transform: translateY(calc(-100% - 0.75em));
  transition: -webkit-transform 125ms linear;
  transition: transform 125ms linear;
  transition: transform 125ms linear, -webkit-transform 125ms linear;
}

.auth-form__main input:focus {
  box-shadow: 0 0 5px 0 #74e39a;
  box-shadow: 0 0 5px 0 rgb(var(--primary-light));
  outline: none;
}

.auth-type-toggle {
  border: 1px solid #3bd16f;
  border: 1px solid rgb(var(--primary));
  border-radius: 100vh;
  cursor: pointer;
  display: flex;
  margin-bottom: 1em;
  padding: 0.5em 0;
  position: relative;
  z-index: 1;
}

.auth-type-toggle:before {
  background: #3bd16f;
  background: rgb(var(--primary));
  border-radius: 100vh;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  width: 50%;
  z-index: -1;
}

.auth-type-toggle.register:before {
  -webkit-transform: translate(100%);
  transform: translate(100%);
}

.auth-type-toggle > * {
  color: #3bd16f;
  color: rgb(var(--primary));
  text-align: center;
  transition: color 0.2s ease-in;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
}

.auth-type-toggle > .active {
  color: #fff;
}

.auth-error {
  align-items: center;
  aspect-ratio: 6/1;
  background: #fff;
  border-radius: 0.5em;
  color: red;
  display: flex;
  justify-content: center;
  padding: 0.5em;
  text-align: center;
  transition: -webkit-transform 30ms linear;
  transition: transform 30ms linear;
  transition: transform 30ms linear, -webkit-transform 30ms linear;
  width: 21.5em;
}
.auth-error.hidden-message {
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
}

.full-page {
  width: 100%;
  min-height: 100vh;
}

.diary-webpage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #9cffac;
}

.diary > .username {
  font-size: min(2.6em, 5.5vh);
  color: rgba(255, 255, 255, 0.75);
  /* text-shadow: 0 0 2px var(--diary-clr); */
}

.diary-container {
  position: relative;
}

.diary {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  aspect-ratio: 5.75 / 8;
  height: min(65vh, 500px);
  background-color: var(--diary-clr);
  box-shadow: 5px 5px 5px 5px rgba(0 0 0 / 0.25);
  position: relative;
  border-radius: 0.65em;
  transition: background-color 200ms ease;
}

.diary::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 9%;
  background-color: var(--diary-clr);
  border-right: 1vh solid rgba(255, 255, 255, 0.2);
  border-top-left-radius: 0.2em;
  border-bottom-left-radius: 0.2em;
  transition: background-color 200ms ease;
}

.diary-page {
  --height: min(75vh, 700px);
  height: var(--height);
  aspect-ratio: 3 / 4;
  position: relative;
}

.diary-options {
  right: calc(100% + 1em);
  top: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.diary-option {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  border-radius: 50%;
  position: relative;
}

.diary-option::before {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  width: 3px;
  height: 100%;
  background-color: black;
}

.diary-option > svg {
  width: 1.5em;
  height: 1.5em;
}

#color-picker-canvas {
  position: absolute;
  /* 3px - width of icon left border */
  /* 2px - custom offset from icon border */
  right: calc(100% + 2 * (3px + 2px));
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.25);
  border-radius: 0.5em;
  transform-origin: right;
  scale: 1;
  transition: scale 200ms ease;
}

.diary-option:not(:focus-within)
  :is(#color-picker-canvas, .diary-option__save-btn) {
  scale: 0;
}

.diary-option__save-btn {
  position: absolute;
  /* 3px - width of icon left border 
     2px - custom offset from icon border 
     180px - width of canvas / 2 */
  right: calc(100% + 180px + 2 * (3px + 2px));
  top: calc(50% + 116px);
  color: white;
  aspect-ratio: 1;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--diary-clr);
  border-radius: 50%;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.25);
  scale: 1;
  transform-origin: top;
  translate: 50% 50%;
  transition: scale 200ms ease, background-color 200ms ease;
}

.diary-page__canvas {
  background: rgb(255, 226, 200);
  margin: 0;
}

.diary-textarea {
  position: absolute;
  resize: none;
  z-index: 10;
  top: 32px;
  left: 8px;
  width: calc(100% - 15px);
  height: calc(100% - 26px);
  border: none;
  background: none;
  line-height: 30px;
}

.diary-textarea--new {
  text-indent: calc(100% / 6 + 5px);
  top: 92px; /* 3 * 30px */
  height: calc(100% - 104px);
}

.diary-textarea:focus {
  outline: none;
}

.diary-page__date {
  position: absolute;
  top: calc(30px + 7px) /* to bring dates slightly closer to underline */;
  left: 10px;
  display: flex;
  align-items: flex-end;
  gap: calc(var(--height) * (1 / 15 - 1 / 20));
}

.diary-page__date__slot {
  line-height: 30px;
  width: calc(var(--height) / 20);
  height: 30px;
  resize: none;
  border: none;
  background: none;
  text-align: center;
}

.diary-page__date__slot:focus {
  outline: none;
  word-break: keep-all;
}

.options-page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vh;
  background: rgb(var(--peach));
}

.options-page__options {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 1vh;
  display: flex;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.new-entry-page,
.view-entry-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: rgb(var(--peach));
}

.new-entry-page__diary-pages,
.view-entry-page__diary-pages {
  display: flex;
  justify-content: center;
  gap: 1vh;
}

.new-entry-page__title-container {
  text-align: center;
}

.new-entry-page__options {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.btn {
  --btn-clr: var(--primary);
  position: relative;
  width: max-content;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 0.25em;
  padding: 1em 1.25em;
  font-size: 1em;
  background-color: rgb(var(--btn-clr));
  box-shadow: 0 0 5px 0 rgb(var(--btn-clr));
  z-index: 5;
}

.btn--blue {
  --btn-clr: 52, 97, 174;
}

.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  transform: scale(0);
  border-radius: 0.25em;
  z-index: -1;
  transform-origin: center center;
  transition: transform 100ms ease-out;
}

.btn:hover::after {
  transform: scale(1);
}

.btn--save {
  padding: 0.75em 1.75em;
}

.options-page__btn {
  font-size: 1.2em;
  padding: 1.25em 1.75em;
  transform: scale(1.15);
}

.entries {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(var(--peach));
  gap: 0.75em;
}

.entry {
  cursor: pointer;
  color: white;
  font-size: 1.75em;
  text-shadow: 0 0 2px white;
}

input:disabled,
textarea:disabled {
  color: black;
}

.home {
  position: fixed;
  top: 10px;
  left: 10px;
  transition: transform 200ms ease-out;
}

.home:hover {
  transform: scale(1.1);
}

.title-input,
.entry-title {
  width: max-content;
  font-size: 2rem;
  background: none;
  border: none;
  border-bottom: 1px solid black;
  text-align: center;
  color: #333;
}

.title-input:focus {
  outline: none;
}

.google-login-btn {
  padding: 1em;
  display: flex;
  align-items: center;
  gap: 1em;
  background: white;
  border-radius: 0.5em;
  border: none;
  cursor: pointer;
  width: 21.5em;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.25);
}

.diary-page-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.diary-page-btn {
  background-color: rgb(var(--primary));
  color: white;
  border-radius: 50%;
  /* padding: 1em; */
  width: 5em;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.diary-page-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  transform: scale(0);
  border-radius: 50%;
  transform-origin: center center;
  transition: transform 100ms ease-out;
}

.diary-page-btn:hover::after {
  transform: scale(1);
}

.delete-entry-btn {
  position: fixed;
  bottom: 1em;
  right: 1em;
  background-color: hsl(0, 100%, 50%);
  border-radius: 50%;
  padding: 0.75em;
  display: flex;
  transform: scale(0.75);
  cursor: pointer;
  aspect-ratio: 1;
  transition: background-color 100ms ease-out;
  z-index: 10;
}

.delete-entry-btn:hover {
  background-color: hsl(0, 100%, 60%);
}

.delete-alert {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: red;
  border-radius: 0.5em;
  padding: 1em;
  z-index: 10;
  box-shadow: 0 0 5px 0 rgba(0 0 0 / 0.5);
}

.delete-alert__btn {
  cursor: pointer;
  border: 2px solid hsl(0, 100%, 50%);
  width: max-content;
  padding: 0.5em 0.75em;
  border-radius: 0.5em;
  transition: background-color 150ms linear, color 150ms linear;
}

.delete-alert__btn:hover {
  background-color: red;
  color: white;
}
